body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

sup{
	font-size: 8px;
}

nav {
	background: #FE7E00;
	height: 80px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100;
}

nav > a {
	color:  white;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 700;
	left: 25px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 20px;
}

nav ul {
	position: absolute;
	right: 25px;
	top:15px;
}

nav li{
  display: inline-block;
  padding:0 15px;
}

nav li > a{
  text-decoration: none;
  color: white;
}


img {
  padding: 100px 50px;
  max-width:40%;
  max-height:40%;
  display: inline-block;
  float: left;
}

header {
	margin-top: 100px;
}

header h1 {
	font-size: 30px;
	margin: 0;
	color: orange;
	padding-top: 100px;
	padding-bottom: 10px;
	padding-right: 20px;
}

.search span2{
	color: #7ACCC8;
}

.search input{
	background-color: #F1F1F1;
	color: gray;
	float: right;
	margin-right: 20px;
}

.quote{
	background-color: #FE7E00;
	display: inline-block;
	color: white;
	padding: 10px;
	margin: 10px;
}

.studies{
	background-color: #7ACCC8;
	display: inline-block;
	color: white;
	padding: 10px;
	margin: 10px;
}



footer {
	background: #7ACCC8;
  height: 80px;
	bottom: 0 !important;
	position: absolute;
	width:100%;



}
